.form-group {
  display: flex;
  margin-top: var(--event-spacing-l);
  justify-content: center;
  align-items: center;
}
.form-group > h1 {
  text-align: center;
  margin-bottom: var(--event-spacing-l);
}
.recovery-password-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
