#navSearch {
  padding: 10px;
  display: flex;
  justify-content: end;
  border-bottom: 1px solid gray;
}

#navSearch > select {
  border-radius: 5px;
  width: 170px;
  height: 40px;
  text-align: center;
  color: black;
  appearance: none;
  cursor: pointer;
  transition: all 0.2s;
}
#navSearch > select:hover {
  border: 3px solid black;
  font-size: 15px;
}
#navSearch > select > option {
  font-size: 18px;
}
