#navSearch {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}
#navSearch > div {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#navSearch > div > select {
  border-radius: 5px;
  width: 100%;
  height: 50px;
  text-align: center;
  color: black;
  appearance: none;
  cursor: pointer;
  transition: all 0.2s;
}
#navSearch > div > select:hover {
  border: 3px solid black;
  font-size: 20px;
}
#navSearch > div > select > option {
  font-size: 18px;
}

@media (max-width: 870px) {
  #navSearch > div {
    width: 100%;
  }
}
