#avatarToggle {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: animatedOpen 0.3s forwards;
  margin: 10px 10px;
  padding: 20px 0;
  border-bottom: 1px solid black;
}

#avatarToggle > img {
  position: relative;
  width: 250px;
  transition: all 0.3s;
}
#avatarToggle > img:hover {
  transform: scale(1.1);
}
.infoToggle {
  width: 0.5;
  height: 100%;
}
.infoToggle > p {
  font-weight: bold;
  font-size: 18px;
}
.infoToggle > p > span {
  font-weight: 300;
  font-size: 16px;
}
@keyframes animatedOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100px;
  }
}

@keyframes animateClose {
  0% {
    opacity: 100px;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 675px) {
  #avatarToggle {
    flex-direction: column-reverse;
    gap: 15px;
  }
  .infoToggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: rgb(238, 238, 238);
    width: 90%;
    padding: 20px 10px;
    border-radius: 10px;
  }
  #avatarToggle > img {
    width: 180px;
  }
}
