#avatarToggle {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: animatedOpen 0.3s forwards;
  margin: var(--event-spacing-xl) var(--event-spacing-s);
  padding: var(--event-spacing-l) 0;
}
.containTitleAvatar {
  display: flex;
  flex-direction: column;
  gap: var(--event-spacing-xl);
}
.containTitleAvatar > h4 {
  display: flex;
  width: 100%;
  text-transform: uppercase;
}
.containTitleAvatar > div {
  position: relative;
}
.containTitleAvatar > div > img {
  position: relative;
  width: 250px;
  transition: all 0.3s;
}
.containTitleAvatar > div > img:hover {
  transform: scale(1.1);
}
.infoToggle {
  width: 0.5;
  height: 100%;
}
.infoToggle > p {
  font-size: 16px;
}
.infoToggle > p > span {
  font-size: 18px;
  font-weight: bold;
}

.modified-avatar {
  display: none;
}
.add-avatar {
  position: absolute;
  right: -15px;
  top: -15px;
  color: var(--event-white-color);
  background-color: var(--event-green-color);
  padding: 5px var(--event-spacing-s);
  border-radius: 10px;
  z-index: 3;
  cursor: pointer;
  transition: all 0.3s;
}
.add-avatar:hover {
  background-color: var(--event-green-color);
}
@keyframes animatedOpen {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100px;
  }
}

@keyframes animateClose {
  0% {
    opacity: 100px;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 675px) {
  #avatarToggle {
    flex-direction: column;
    gap: var(--event-spacing-m);
  }
  .containTitleAvatar {
    width: 100%;
    align-items: center;
  }
  .infoToggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: var(--event-white-color);
    width: 90%;
    padding: var(--event-spacing-l) var(--event-spacing-s);
    border-radius: 10px;
  }
  #avatarToggle > img {
    width: 180px;
  }
}
