#containerAlert {
  position: fixed;
  right: 0;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre las alertas */
  width: auto;
}

.alert {
  min-width: 200px;
  padding: 20px; /* Ajusta según sea necesario */
  margin-left: 4px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  animation: slideIn 0.3s ease-out;
  font-weight: bold;
  font-size: 16px;
  border-left: 4px solid rgb(0, 0, 0);
}

.alert.error {
  border-left: 4px solid rgb(255, 0, 0); /* Borde rojo para errores */
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
