.containerUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: var(--event-spacing-l) var(--event-spacing-s) var(--event-spacing-s)
    var(--event-spacing-s);
}
.containerUser > div {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: var(--event-spacing-xs);
}
.title-user {
  text-transform: upprecase;
  font-weight: 200;
}
.avatarImg {
  width: 65px;
  height: 65px;
  display: flex;
  object-fit: cover;
  border-radius: 100%;
  animation: scaleLogo 2s infinite;
}
.avatarImg:hover {
  cursor: pointer;
}

.containTitleAvatar > div > img {
  width: 165px;
  height: 165px;
  display: flex;
  object-fit: cover;
  border-radius: 10px;
}
.container-config {
  display: flex;
  flex-direction: column;
}
.admin {
  font-weight: bold;
  background-color: var(--event-black-color);
  color: var(--event-white-color);
  border-radius: 5px;
  padding: 3px var(--event-spacing-xs);
}
.menu-icon {
  width: var(--event-spacing-l);
  z-index: 6;
  position: fixed;
  right: var(--event-spacing-l);
  top: 50px;
  transition: all 0.3s;
  background-color: var(--event-white-color);
  padding: var(--event-spacing-xs);
  border-radius: var(--event-spacing-xs);
}
.menu-icon:hover {
  cursor: pointer;
  transform: scale(1.1) !important;
}
.containSettings {
  display: flex;
  justify-content: space-around;
  gap: var(--event-spacing-s);
  border: 1px solid black;
  padding: var(--event-spacing-xs) 0;
  border-radius: 3px;
}
#menu-items {
  position: fixed;
  width: 50%;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--event-spacing-s);
  padding: 40px 0;
  background-color: rgba(61, 61, 61, 0.932);
}
#menu-items > button {
  padding: var(--event-spacing-s) var(--event-spacing-xs);
  width: 140px;
  color: var(--event-white-color);
  background-color: var(--event-black-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
#menu-items > button:hover {
  transform: scale(1.05);
}

@media (max-width: 499px) {
  #menu-items {
    width: 100%;
  }
}

@keyframes scaleLogo {
  0%,
  100% {
    transform: scale(1); /* Tamaño original */
  }
  50% {
    transform: scale(1.1); /* Aumenta el tamaño en un 10% */
  }
}
