.containerUser {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
.title-user {
  font-size: 16px;
  text-transform: upprecase;
  font-weight: 200;
}
.avatarImg {
  width: 65px;
  height: 65px;
  display: flex;
  object-fit: cover;
  border-radius: 10px;
}
.avatarImg:hover {
  cursor: pointer;
}
.containTitleAvatar > div > img {
  width: 165px;
  height: 165px;
  display: flex;
  object-fit: cover;
  border-radius: 10px;
}
.container-config {
  display: flex;
  flex-direction: column;
}
.admin {
  font-size: 12px;
}
.menu-icon {
  transition: all 0.3s;
}
.menu-icon:hover {
  cursor: pointer;
  transform: scale(1.1) !important;
}
.containSettings {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  border: 1px solid black;
  padding: 5px 0;
  border-radius: 3px;
}
#menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  padding: 10px 0;
}
#menu-items > button {
  padding: 10px 5px;
  width: 140px;
  font-size: 18px;
  color: white;
  background-color: rgb(46, 179, 46);
  border: none;
  border-radius: 5px;
}
