.search-bar-container {
  display: flex;
  align-items: center;
  width: 30%;
  margin: var(--event-spacing-s);
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: var(--event-spacing-s);
}

.search-input {
  flex: 1;
  background-color: transparent;
  outline: none;
}
@media (max-width: 869px) {
  .search-bar-container {
    width: 50%;
  }
}
@media (max-width: 489px) {
  .search-bar-container {
    width: 70%;
  }
}
