.search-bar-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin: var(--event-spacing-s);
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: var(--event-spacing-s);
}

.search-input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
}
