#containerAlert {
  position: fixed;
  right: 0;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre las alertas */
  width: 100%;
}

.alert {
  padding: 20px; /* Ajusta según sea necesario */
  margin-left: 4px;
  border-radius: 10px 0 0 10px;
  color: white;
  background-color: rgb(255, 255, 255);
  animation: slideIn 0.3s ease-out;
  font-weight: bold;
  font-size: 16px;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
