.contain-create-event {
  margin: var(--event-spacing-l);
  display: flex;
  flex-direction: column;
  gap: var(--event-spacing-l);
}
.contain-create-event > h4 {
  text-transform: uppercase;
  font-weight: 800;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: var(--event-spacing-l) 0;
}
.form-create-event,
.form-edit-event {
  display: flex;
  flex-direction: column;
  gap: var(--event-spacing-m);
  margin-bottom: var(--event-spacing-xl);
}
.form-create-event > input,
.form-edit-event > input {
  padding: var(--event-spacing-s);
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(240, 240, 240);
}
.form-create-event > textarea,
.form-edit-event > textarea {
  height: auto;
  background-color: rgb(240, 240, 240);
  box-sizing: border-box;
  resize: vertical;
  overflow: hidden;
  padding: var(--event-spacing-s);
  border: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.form-create-event > button,
.form-edit-event > button {
  display: flex;
  width: 140px;
  justify-content: center;
  padding: var(--event-spacing-m) 8px;
  border: none;
  background-color: var(--event-black-color);
  border-radius: 5px;
  color: var(--event-white-color);
  cursor: pointer;
  transition: all 0.3s;
}

.form-create-event > button:hover,
.form-edit-event > button:hover {
  color: var(--event-black-color);
  background-color: var(--event-white-color);
  border: 1px solid var(--event-black-color);
}
.date-hour {
  font-weight: 900;
  margin: var(--event-spacing-s) 0 0 var(--event-spacing-s);
}
.option-img-event {
  position: relative;
}
.add-img-event {
  cursor: pointer;
}
#file-create {
  display: none;
}
#img-event {
  width: 100%;
  height: 250px;
  display: flex;
  object-fit: contain;
}
#close-btn {
  color: var(--event-white-color);
  background-color: var(--event-red-color);
}
#close-btn:hover {
  color: var(--event-red-color);
  background-color: var(--event-white-color);
  border: 1px solid var(--event-red-color);
}
