.title-create-event {
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.title-create-event > h4 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 800;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px 0;
}
.form-create-event {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 20px;
}
.form-create-event > input {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.form-create-event > textarea {
  height: auto;
  box-sizing: border-box;
  resize: vertical;
  overflow: hidden;
  padding: 10px;
  background-color: rgb(240, 240, 240);
  border: none;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
.form-create-event > button {
  display: flex;
  width: 120px;
  justify-content: center;
  padding: 5px 3px;
  font-size: 14px;
  border: none;
  background-color: black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

#close-btn {
  color: white;
  background-color: red;
}
#close-btn:hover {
  color: red;
  background-color: white;
  border: 1px solid red;
}
.form-create-event > button:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
}
.option-img-event {
  position: relative;
}
.add-img-event {
  cursor: pointer;
}
#file-create {
  display: none;
}
#img-event {
  width: 100%;
  height: 250px;
  display: flex;
  object-fit: contain;
}
#img-event:hover {
  transform: scale(1.1);
}
