.nav {
  padding: var(--event-spacing-s);
  background-color: var(--event-black-color);
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.logo {
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
}
.link-home {
  color: var(--event-black-color);
  height: 100%;
  width: 100%;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--event-white-color);
  cursor: pointer;
  border-radius: 5px 0 0 5px;
  transition: all 0.3s;
  font-size: 30px;
}
.link-home:hover {
  transform: scale(1.05);
}
#containerNav {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.containerbtns {
  display: flex;
  justify-content: end;
  gap: var(--event-spacing-m);
}
.containerbtns > button {
  background-color: transparent;
  text-transform: capitalize;
  color: var(--event-white-color);
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  text-align: end;
}

.containerbtns > button:hover {
  color: var(--event-green-color);
}

#email,
#password {
  text-align: center;
}

.btnLogin {
  background-color: var(--event-green-color);
  color: var(--event-white-color);
  padding: var(--event-spacing-xs);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
.btnLogin:hover {
  background-color: var(--event-green-color);
}
@media (max-width: 580px) {
  #formlogin {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: var(--event-spacing-s);
  }
}
