#contain-events {
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  gap: var(--event-spacing-s);
}
#events-length {
  margin: var(--event-spacing-s);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
}
#card-events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--event-spacing-l);
  margin: var(--event-spacing-l) var(--event-spacing-s);
}
#messageEvents {
  margin: var(--event-spacing-l) 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: var(--event-black-color);
  color: var(--event-white-color);
  padding: var(--event-spacing-m) var(--event-spacing-xs);
}

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.705);
  border-radius: 50%;
  font-size: 32px;
  padding: var(--event-spacing-m);
  color: var(--event-white-color);
  cursor: pointer;
  transition: all 0.3s;
}
.show {
  display: block !important;
  animation: bubbleUp 0.5s forwards;
}

@keyframes bubbleUp {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.containerEvents {
  width: 100%;
  display: flex;
  align-items: center;
}

.containerEventsWrapper {
  display: flex;
  justify-content: center;
  gap: var(--event-spacing-l);
  width: 100%;
  height: 100%;
}

.containerEvent {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.271);
  transition: transform 0.3s ease;
}

.bannerEvent {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.bannerEvent img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.containerEvent:hover .bannerEvent img {
  transform: scale(1.1);
}

.descriptionEvent {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.812);
  color: var(--event-white-color);
  padding: var(--event-spacing-s);
  box-sizing: border-box;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  gap: var(--event-spacing-s);
}
.descriptionEvent > p {
  text-align: justify;
}
.descriptionEvent > span {
  background-color: var(--event-white-color);
  color: var(--event-black-color);
  border-radius: 5px;
  padding-right: var(--event-spacing-xs);
  font-weight: bold;
}
#attendes-count > span {
  font-size: 16px;
  background-color: var(--event-black-color);
  padding: 3px 7px;
  color: var(--event-white-color);
  border-radius: 100%;
}
.form-register-event {
  margin-top: var(--event-spacing-s);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: var(--event-spacing-s);
}
.form-register-event > input {
  width: 120px;
}
.btn-register-event {
  background-color: var(--event-green-color);
  color: var(--event-white-color);
}

.containerEvent:hover .descriptionEvent {
  transform: translateY(0);
}

.descriptionEvent h2,
.descriptionEvent p {
  margin: 0;
}

.event-more-information {
  display: flex;
  justify-content: end;
}
.btn-more-information {
  padding: var(--event-spacing-xs) var(--event-spacing-s);
  border-radius: 5px;
  cursor: help;
  background-color: var(--event-white-color);
  color: var(--event-black-color);
  border: 1px solid var(--event-red-color);
  font-weight: bold;
  margin: var(--event-spacing-s) 0;
  transition: all 0.3s;
}
.btn-more-information:hover {
  transform: scale(1.03);
}
/*MORE INFORMATION CARD*/
.container-info {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container-description {
  display: flex;
  gap: var(--event-spacing-s);
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin: var(--event-spacing-s);
}

#date-event {
  font-size: 16px;
  background-color: var(--event-black-color);
  color: var(--event-white-color);
  border-radius: 5px;
  padding: var(--event-spacing-xs);
}
.banner-event {
  width: 100%;
  height: 400px;
  background-color: var(--event-red-color);
  overflow: hidden;
  border-radius: 5px;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
}
.banner-event > img {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.banner-event > img:hover {
  transform: scale(1.1);
}
.user-creator {
  position: relative;
  display: flex;
  gap: var(--event-spacing-s);
  justify-content: center;
  align-items: center;
}
.user-creator > p {
  font-size: 14px;
}
.type-user-span {
  background-color: var(--event-black-color);
  color: var(--event-white-color);
  padding: var(--event-spacing-xs);
  border-radius: 3px;
}
.user-creator > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  object-fit: cover;
  transition: all 0.5s;
}
.user-creator > img:hover {
  z-index: 2;
  transform: scale(5);
}
.subscribe-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: var(--event-spacing-xs) 0;
}
.subscribe-btn > button,
.subscribe-btn > div > button,
.subscribe-btn > div > div > button {
  padding: var(--event-spacing-s) var(--event-spacing-m);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: var(--event-white-color);
}
#unsubscribe-event {
  background-color: var(--event-red-color);
}
#subscribe-event {
  background-color: var(--event-green-color);
}
#edit-event {
  background-color: var(--event-black-color);
}
#btn-options {
  display: flex;
  gap: 5px;
}
#unsubscribe-event,
#subscribe-event,
#edit-event,
#close-info {
  transition: all 0.3s;
}
#unsubscribe-event:hover,
#subscribe-event:hover,
#edit-event:hover,
#close-info:hover {
  transform: scale(1.05);
}

.subscribe-btn > button:last-child {
  padding: var(--event-spacing-xs);
  background-color: var(--event-red-color);
}
.subscribe-btn > button:hover,
.subscribe-btn > div > button:hover {
  transform: scale(1.07);
}
#who {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
.more {
  margin: 10px 0;
  width: 50px;
  font-size: 10px;
  padding: var(--event-spacing-xs);
  border-radius: 3px;
  cursor: pointer;
  color: var(--event-black-color);
  background-color: var(--event-yellow-color);
  transition: all 0.3s;
  border: none;
}
.more:hover {
  transform: scale(1.1);
}
.info-attendees {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.info-attendees > ul {
  margin: var(--event-spacing-l) 0;
  display: flex;
  flex-direction: column;
  gap: var(--event-spacing-s);
}
.info-attendees > ul > li {
  padding: var(--event-spacing-s);
  list-style: none;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--event-white-color);
  color: var(--event-black-color);
  border: 1px solid var(--event-black-color);
}
.info-attendees > ul > li:hover {
  transform: scale(1.01);
}
.close-attendees {
  width: 100px;
  padding: var(--event-spacing-s) var(--event-spacing-m);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--event-red-color);
  color: var(--event-white-color);
  transition: all 0.3s;
}
.close-attendees:hover {
  transform: scale(1.1);
}
#profile-information {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(68, 68, 68, 0.815);
}
.container-profile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  border: 1px solid var(--event-black-color);
  border-radius: 10px;
  background-color: var(--event-white-color);
}
.container-profile > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.type-user {
  background-color: var(--event-black-color);
  color: var(--event-white-color);
  padding: 3px;
  border-radius: 3px;
}
.profile-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile-info > p {
  font-size: 14px;
}
.profile-info > p > span {
  font-size: 16px;
  font-weight: bold;
}
#close-profile {
  border: none;
  width: 100%;
  margin-top: 20px;
  padding: 5px;
  background-color: var(--event-red-color);
  color: var(--event-white-color);
  border-radius: 5px;
  transition: all 0.3s;
}
#close-profile:hover {
  transform: scale(1.1);
}
@media (max-width: 1080px) {
  #card-events {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 690px) {
  #card-events {
    grid-template-columns: repeat(1, 1fr);
  }
}
